<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tsien.mall.mbg.dao.cms.CmsTopicCommentMapper">
    <resultMap id="BaseResultMap" type="com.tsien.mall.mbg.domain.model.cms.CmsTopicComment">
        <!--@mbg.generated-->
        <!--@Table cms_topic_comment-->
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="topic_id" jdbcType="BIGINT" property="topicId"/>
        <result column="member_nick_name" jdbcType="VARCHAR" property="memberNickName"/>
        <result column="member_icon" jdbcType="VARCHAR" property="memberIcon"/>
        <result column="content" jdbcType="VARCHAR" property="content"/>
        <result column="show_status" jdbcType="INTEGER" property="showStatus"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id, topic_id, member_nick_name, member_icon, content, show_status, create_time, update_time
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        <!--@mbg.generated-->
        select
        <include refid="Base_Column_List"/>
        from cms_topic_comment
        where id = #{id,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        <!--@mbg.generated-->
        delete
        from cms_topic_comment
        where id = #{id,jdbcType=BIGINT}
    </delete>
    <insert id="insert" keyColumn="id" keyProperty="id"
            parameterType="com.tsien.mall.mbg.domain.model.cms.CmsTopicComment" useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into cms_topic_comment (topic_id, member_nick_name, member_icon,
                                       content, show_status, create_time,
                                       update_time)
        values (#{topicId,jdbcType=BIGINT}, #{memberNickName,jdbcType=VARCHAR}, #{memberIcon,jdbcType=VARCHAR},
                #{content,jdbcType=VARCHAR}, #{showStatus,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP},
                #{updateTime,jdbcType=TIMESTAMP})
    </insert>
    <insert id="insertSelective" keyColumn="id" keyProperty="id"
            parameterType="com.tsien.mall.mbg.domain.model.cms.CmsTopicComment" useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into cms_topic_comment
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="topicId != null">
                topic_id,
            </if>
            <if test="memberNickName != null and memberNickName != ''">
                member_nick_name,
            </if>
            <if test="memberIcon != null and memberIcon != ''">
                member_icon,
            </if>
            <if test="content != null and content != ''">
                content,
            </if>
            <if test="showStatus != null">
                show_status,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="topicId != null">
                #{topicId,jdbcType=BIGINT},
            </if>
            <if test="memberNickName != null and memberNickName != ''">
                #{memberNickName,jdbcType=VARCHAR},
            </if>
            <if test="memberIcon != null and memberIcon != ''">
                #{memberIcon,jdbcType=VARCHAR},
            </if>
            <if test="content != null and content != ''">
                #{content,jdbcType=VARCHAR},
            </if>
            <if test="showStatus != null">
                #{showStatus,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.tsien.mall.mbg.domain.model.cms.CmsTopicComment">
        <!--@mbg.generated-->
        update cms_topic_comment
        <set>
            <if test="topicId != null">
                topic_id = #{topicId,jdbcType=BIGINT},
            </if>
            <if test="memberNickName != null and memberNickName != ''">
                member_nick_name = #{memberNickName,jdbcType=VARCHAR},
            </if>
            <if test="memberIcon != null and memberIcon != ''">
                member_icon = #{memberIcon,jdbcType=VARCHAR},
            </if>
            <if test="content != null and content != ''">
                content = #{content,jdbcType=VARCHAR},
            </if>
            <if test="showStatus != null">
                show_status = #{showStatus,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.tsien.mall.mbg.domain.model.cms.CmsTopicComment">
        <!--@mbg.generated-->
        update cms_topic_comment
        set topic_id         = #{topicId,jdbcType=BIGINT},
            member_nick_name = #{memberNickName,jdbcType=VARCHAR},
            member_icon      = #{memberIcon,jdbcType=VARCHAR},
            content          = #{content,jdbcType=VARCHAR},
            show_status      = #{showStatus,jdbcType=INTEGER},
            create_time      = #{createTime,jdbcType=TIMESTAMP},
            update_time      = #{updateTime,jdbcType=TIMESTAMP}
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateBatch" parameterType="java.util.List">
        <!--@mbg.generated-->
        update cms_topic_comment
        <trim prefix="set" suffixOverrides=",">
            <trim prefix="topic_id = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when id = #{item.id,jdbcType=BIGINT} then #{item.topicId,jdbcType=BIGINT}
                </foreach>
            </trim>
            <trim prefix="member_nick_name = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when id = #{item.id,jdbcType=BIGINT} then #{item.memberNickName,jdbcType=VARCHAR}
                </foreach>
            </trim>
            <trim prefix="member_icon = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when id = #{item.id,jdbcType=BIGINT} then #{item.memberIcon,jdbcType=VARCHAR}
                </foreach>
            </trim>
            <trim prefix="content = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when id = #{item.id,jdbcType=BIGINT} then #{item.content,jdbcType=VARCHAR}
                </foreach>
            </trim>
            <trim prefix="show_status = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when id = #{item.id,jdbcType=BIGINT} then #{item.showStatus,jdbcType=INTEGER}
                </foreach>
            </trim>
            <trim prefix="create_time = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when id = #{item.id,jdbcType=BIGINT} then #{item.createTime,jdbcType=TIMESTAMP}
                </foreach>
            </trim>
            <trim prefix="update_time = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when id = #{item.id,jdbcType=BIGINT} then #{item.updateTime,jdbcType=TIMESTAMP}
                </foreach>
            </trim>
        </trim>
        where id in
        <foreach close=")" collection="list" item="item" open="(" separator=", ">
            #{item.id,jdbcType=BIGINT}
        </foreach>
    </update>
    <update id="updateBatchSelective" parameterType="java.util.List">
        <!--@mbg.generated-->
        update cms_topic_comment
        <trim prefix="set" suffixOverrides=",">
            <trim prefix="topic_id = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    <if test="item.topicId != null">
                        when id = #{item.id,jdbcType=BIGINT} then #{item.topicId,jdbcType=BIGINT}
                    </if>
                </foreach>
            </trim>
            <trim prefix="member_nick_name = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    <if test="item.memberNickName != null">
                        when id = #{item.id,jdbcType=BIGINT} then #{item.memberNickName,jdbcType=VARCHAR}
                    </if>
                </foreach>
            </trim>
            <trim prefix="member_icon = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    <if test="item.memberIcon != null">
                        when id = #{item.id,jdbcType=BIGINT} then #{item.memberIcon,jdbcType=VARCHAR}
                    </if>
                </foreach>
            </trim>
            <trim prefix="content = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    <if test="item.content != null">
                        when id = #{item.id,jdbcType=BIGINT} then #{item.content,jdbcType=VARCHAR}
                    </if>
                </foreach>
            </trim>
            <trim prefix="show_status = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    <if test="item.showStatus != null">
                        when id = #{item.id,jdbcType=BIGINT} then #{item.showStatus,jdbcType=INTEGER}
                    </if>
                </foreach>
            </trim>
            <trim prefix="create_time = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    <if test="item.createTime != null">
                        when id = #{item.id,jdbcType=BIGINT} then #{item.createTime,jdbcType=TIMESTAMP}
                    </if>
                </foreach>
            </trim>
            <trim prefix="update_time = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    <if test="item.updateTime != null">
                        when id = #{item.id,jdbcType=BIGINT} then #{item.updateTime,jdbcType=TIMESTAMP}
                    </if>
                </foreach>
            </trim>
        </trim>
        where id in
        <foreach close=")" collection="list" item="item" open="(" separator=", ">
            #{item.id,jdbcType=BIGINT}
        </foreach>
    </update>
    <insert id="batchInsert" keyColumn="id" keyProperty="id" parameterType="map" useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into cms_topic_comment
                (topic_id, member_nick_name, member_icon, content, show_status, create_time, update_time)
                values
        <foreach collection="list" item="item" separator=",">
            (#{item.topicId,jdbcType=BIGINT}, #{item.memberNickName,jdbcType=VARCHAR},
             #{item.memberIcon,jdbcType=VARCHAR},
             #{item.content,jdbcType=VARCHAR}, #{item.showStatus,jdbcType=INTEGER},
             #{item.createTime,jdbcType=TIMESTAMP},
             #{item.updateTime,jdbcType=TIMESTAMP})
        </foreach>
    </insert>
    <insert id="insertOrUpdate" keyColumn="id" keyProperty="id"
            parameterType="com.tsien.mall.mbg.domain.model.cms.CmsTopicComment" useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into cms_topic_comment
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            topic_id,
            member_nick_name,
            member_icon,
            content,
            show_status,
            create_time,
            update_time,
        </trim>
        values
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            #{topicId,jdbcType=BIGINT},
            #{memberNickName,jdbcType=VARCHAR},
            #{memberIcon,jdbcType=VARCHAR},
            #{content,jdbcType=VARCHAR},
            #{showStatus,jdbcType=INTEGER},
            #{createTime,jdbcType=TIMESTAMP},
            #{updateTime,jdbcType=TIMESTAMP},
        </trim>
        on duplicate key update
        <trim suffixOverrides=",">
            <if test="id != null">
                id = #{id,jdbcType=BIGINT},
            </if>
            topic_id         = #{topicId,jdbcType=BIGINT},
            member_nick_name = #{memberNickName,jdbcType=VARCHAR},
            member_icon      = #{memberIcon,jdbcType=VARCHAR},
            content          = #{content,jdbcType=VARCHAR},
            show_status      = #{showStatus,jdbcType=INTEGER},
            create_time      = #{createTime,jdbcType=TIMESTAMP},
            update_time      = #{updateTime,jdbcType=TIMESTAMP},
        </trim>
    </insert>
    <insert id="insertOrUpdateSelective" keyColumn="id" keyProperty="id"
            parameterType="com.tsien.mall.mbg.domain.model.cms.CmsTopicComment" useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into cms_topic_comment
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="topicId != null">
                topic_id,
            </if>
            <if test="memberNickName != null and memberNickName != ''">
                member_nick_name,
            </if>
            <if test="memberIcon != null and memberIcon != ''">
                member_icon,
            </if>
            <if test="content != null and content != ''">
                content,
            </if>
            <if test="showStatus != null">
                show_status,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
        </trim>
        values
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="topicId != null">
                #{topicId,jdbcType=BIGINT},
            </if>
            <if test="memberNickName != null and memberNickName != ''">
                #{memberNickName,jdbcType=VARCHAR},
            </if>
            <if test="memberIcon != null and memberIcon != ''">
                #{memberIcon,jdbcType=VARCHAR},
            </if>
            <if test="content != null and content != ''">
                #{content,jdbcType=VARCHAR},
            </if>
            <if test="showStatus != null">
                #{showStatus,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
        on duplicate key update
        <trim suffixOverrides=",">
            <if test="id != null">
                id = #{id,jdbcType=BIGINT},
            </if>
            <if test="topicId != null">
                topic_id = #{topicId,jdbcType=BIGINT},
            </if>
            <if test="memberNickName != null and memberNickName != ''">
                member_nick_name = #{memberNickName,jdbcType=VARCHAR},
            </if>
            <if test="memberIcon != null and memberIcon != ''">
                member_icon = #{memberIcon,jdbcType=VARCHAR},
            </if>
            <if test="content != null and content != ''">
                content = #{content,jdbcType=VARCHAR},
            </if>
            <if test="showStatus != null">
                show_status = #{showStatus,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
</mapper>