<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tsien.mall.mbg.dao.sms.SmsFlashPromotionLogMapper">
    <resultMap id="BaseResultMap" type="com.tsien.mall.mbg.domain.model.sms.SmsFlashPromotionLog">
        <!--@mbg.generated-->
        <!--@Table sms_flash_promotion_log-->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="product_id" jdbcType="BIGINT" property="productId"/>
        <result column="product_name" jdbcType="VARCHAR" property="productName"/>
        <result column="member_id" jdbcType="INTEGER" property="memberId"/>
        <result column="member_phone" jdbcType="VARCHAR" property="memberPhone"/>
        <result column="subscribe_time" jdbcType="TIMESTAMP" property="subscribeTime"/>
        <result column="send_time" jdbcType="TIMESTAMP" property="sendTime"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id, product_id, product_name, member_id, member_phone, subscribe_time, send_time,
        create_time, update_time
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        <!--@mbg.generated-->
        select
        <include refid="Base_Column_List"/>
        from sms_flash_promotion_log
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        <!--@mbg.generated-->
        delete
        from sms_flash_promotion_log
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" keyColumn="id" keyProperty="id"
            parameterType="com.tsien.mall.mbg.domain.model.sms.SmsFlashPromotionLog" useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into sms_flash_promotion_log (product_id, product_name, member_id,
                                             member_phone, subscribe_time, send_time,
                                             create_time, update_time)
        values (#{productId,jdbcType=BIGINT}, #{productName,jdbcType=VARCHAR}, #{memberId,jdbcType=INTEGER},
                #{memberPhone,jdbcType=VARCHAR}, #{subscribeTime,jdbcType=TIMESTAMP}, #{sendTime,jdbcType=TIMESTAMP},
                #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
    </insert>
    <insert id="insertSelective" keyColumn="id" keyProperty="id"
            parameterType="com.tsien.mall.mbg.domain.model.sms.SmsFlashPromotionLog" useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into sms_flash_promotion_log
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="productId != null">
                product_id,
            </if>
            <if test="productName != null and productName != ''">
                product_name,
            </if>
            <if test="memberId != null">
                member_id,
            </if>
            <if test="memberPhone != null and memberPhone != ''">
                member_phone,
            </if>
            <if test="subscribeTime != null">
                subscribe_time,
            </if>
            <if test="sendTime != null">
                send_time,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="productId != null">
                #{productId,jdbcType=BIGINT},
            </if>
            <if test="productName != null and productName != ''">
                #{productName,jdbcType=VARCHAR},
            </if>
            <if test="memberId != null">
                #{memberId,jdbcType=INTEGER},
            </if>
            <if test="memberPhone != null and memberPhone != ''">
                #{memberPhone,jdbcType=VARCHAR},
            </if>
            <if test="subscribeTime != null">
                #{subscribeTime,jdbcType=TIMESTAMP},
            </if>
            <if test="sendTime != null">
                #{sendTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.tsien.mall.mbg.domain.model.sms.SmsFlashPromotionLog">
        <!--@mbg.generated-->
        update sms_flash_promotion_log
        <set>
            <if test="productId != null">
                product_id = #{productId,jdbcType=BIGINT},
            </if>
            <if test="productName != null and productName != ''">
                product_name = #{productName,jdbcType=VARCHAR},
            </if>
            <if test="memberId != null">
                member_id = #{memberId,jdbcType=INTEGER},
            </if>
            <if test="memberPhone != null and memberPhone != ''">
                member_phone = #{memberPhone,jdbcType=VARCHAR},
            </if>
            <if test="subscribeTime != null">
                subscribe_time = #{subscribeTime,jdbcType=TIMESTAMP},
            </if>
            <if test="sendTime != null">
                send_time = #{sendTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.tsien.mall.mbg.domain.model.sms.SmsFlashPromotionLog">
        <!--@mbg.generated-->
        update sms_flash_promotion_log
        set product_id     = #{productId,jdbcType=BIGINT},
            product_name   = #{productName,jdbcType=VARCHAR},
            member_id      = #{memberId,jdbcType=INTEGER},
            member_phone   = #{memberPhone,jdbcType=VARCHAR},
            subscribe_time = #{subscribeTime,jdbcType=TIMESTAMP},
            send_time      = #{sendTime,jdbcType=TIMESTAMP},
            create_time    = #{createTime,jdbcType=TIMESTAMP},
            update_time    = #{updateTime,jdbcType=TIMESTAMP}
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateBatch" parameterType="java.util.List">
        <!--@mbg.generated-->
        update sms_flash_promotion_log
        <trim prefix="set" suffixOverrides=",">
            <trim prefix="product_id = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when id = #{item.id,jdbcType=INTEGER} then #{item.productId,jdbcType=BIGINT}
                </foreach>
            </trim>
            <trim prefix="product_name = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when id = #{item.id,jdbcType=INTEGER} then #{item.productName,jdbcType=VARCHAR}
                </foreach>
            </trim>
            <trim prefix="member_id = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when id = #{item.id,jdbcType=INTEGER} then #{item.memberId,jdbcType=INTEGER}
                </foreach>
            </trim>
            <trim prefix="member_phone = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when id = #{item.id,jdbcType=INTEGER} then #{item.memberPhone,jdbcType=VARCHAR}
                </foreach>
            </trim>
            <trim prefix="subscribe_time = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when id = #{item.id,jdbcType=INTEGER} then #{item.subscribeTime,jdbcType=TIMESTAMP}
                </foreach>
            </trim>
            <trim prefix="send_time = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when id = #{item.id,jdbcType=INTEGER} then #{item.sendTime,jdbcType=TIMESTAMP}
                </foreach>
            </trim>
            <trim prefix="create_time = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when id = #{item.id,jdbcType=INTEGER} then #{item.createTime,jdbcType=TIMESTAMP}
                </foreach>
            </trim>
            <trim prefix="update_time = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when id = #{item.id,jdbcType=INTEGER} then #{item.updateTime,jdbcType=TIMESTAMP}
                </foreach>
            </trim>
        </trim>
        where id in
        <foreach close=")" collection="list" item="item" open="(" separator=", ">
            #{item.id,jdbcType=INTEGER}
        </foreach>
    </update>
    <update id="updateBatchSelective" parameterType="java.util.List">
        <!--@mbg.generated-->
        update sms_flash_promotion_log
        <trim prefix="set" suffixOverrides=",">
            <trim prefix="product_id = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    <if test="item.productId != null">
                        when id = #{item.id,jdbcType=INTEGER} then #{item.productId,jdbcType=BIGINT}
                    </if>
                </foreach>
            </trim>
            <trim prefix="product_name = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    <if test="item.productName != null">
                        when id = #{item.id,jdbcType=INTEGER} then #{item.productName,jdbcType=VARCHAR}
                    </if>
                </foreach>
            </trim>
            <trim prefix="member_id = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    <if test="item.memberId != null">
                        when id = #{item.id,jdbcType=INTEGER} then #{item.memberId,jdbcType=INTEGER}
                    </if>
                </foreach>
            </trim>
            <trim prefix="member_phone = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    <if test="item.memberPhone != null">
                        when id = #{item.id,jdbcType=INTEGER} then #{item.memberPhone,jdbcType=VARCHAR}
                    </if>
                </foreach>
            </trim>
            <trim prefix="subscribe_time = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    <if test="item.subscribeTime != null">
                        when id = #{item.id,jdbcType=INTEGER} then #{item.subscribeTime,jdbcType=TIMESTAMP}
                    </if>
                </foreach>
            </trim>
            <trim prefix="send_time = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    <if test="item.sendTime != null">
                        when id = #{item.id,jdbcType=INTEGER} then #{item.sendTime,jdbcType=TIMESTAMP}
                    </if>
                </foreach>
            </trim>
            <trim prefix="create_time = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    <if test="item.createTime != null">
                        when id = #{item.id,jdbcType=INTEGER} then #{item.createTime,jdbcType=TIMESTAMP}
                    </if>
                </foreach>
            </trim>
            <trim prefix="update_time = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    <if test="item.updateTime != null">
                        when id = #{item.id,jdbcType=INTEGER} then #{item.updateTime,jdbcType=TIMESTAMP}
                    </if>
                </foreach>
            </trim>
        </trim>
        where id in
        <foreach close=")" collection="list" item="item" open="(" separator=", ">
            #{item.id,jdbcType=INTEGER}
        </foreach>
    </update>
    <insert id="batchInsert" keyColumn="id" keyProperty="id" parameterType="map" useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into sms_flash_promotion_log
                (product_id, product_name, member_id, member_phone, subscribe_time, send_time, create_time,
                 update_time)
                values
        <foreach collection="list" item="item" separator=",">
            (#{item.productId,jdbcType=BIGINT}, #{item.productName,jdbcType=VARCHAR}, #{item.memberId,jdbcType=INTEGER},
             #{item.memberPhone,jdbcType=VARCHAR}, #{item.subscribeTime,jdbcType=TIMESTAMP},
             #{item.sendTime,jdbcType=TIMESTAMP}, #{item.createTime,jdbcType=TIMESTAMP},
             #{item.updateTime,jdbcType=TIMESTAMP})
        </foreach>
    </insert>
    <insert id="insertOrUpdate" keyColumn="id" keyProperty="id"
            parameterType="com.tsien.mall.mbg.domain.model.sms.SmsFlashPromotionLog" useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into sms_flash_promotion_log
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            product_id,
            product_name,
            member_id,
            member_phone,
            subscribe_time,
            send_time,
            create_time,
            update_time,
        </trim>
        values
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            #{productId,jdbcType=BIGINT},
            #{productName,jdbcType=VARCHAR},
            #{memberId,jdbcType=INTEGER},
            #{memberPhone,jdbcType=VARCHAR},
            #{subscribeTime,jdbcType=TIMESTAMP},
            #{sendTime,jdbcType=TIMESTAMP},
            #{createTime,jdbcType=TIMESTAMP},
            #{updateTime,jdbcType=TIMESTAMP},
        </trim>
        on duplicate key update
        <trim suffixOverrides=",">
            <if test="id != null">
                id = #{id,jdbcType=INTEGER},
            </if>
            product_id     = #{productId,jdbcType=BIGINT},
            product_name   = #{productName,jdbcType=VARCHAR},
            member_id      = #{memberId,jdbcType=INTEGER},
            member_phone   = #{memberPhone,jdbcType=VARCHAR},
            subscribe_time = #{subscribeTime,jdbcType=TIMESTAMP},
            send_time      = #{sendTime,jdbcType=TIMESTAMP},
            create_time    = #{createTime,jdbcType=TIMESTAMP},
            update_time    = #{updateTime,jdbcType=TIMESTAMP},
        </trim>
    </insert>
    <insert id="insertOrUpdateSelective" keyColumn="id" keyProperty="id"
            parameterType="com.tsien.mall.mbg.domain.model.sms.SmsFlashPromotionLog" useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into sms_flash_promotion_log
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="productId != null">
                product_id,
            </if>
            <if test="productName != null and productName != ''">
                product_name,
            </if>
            <if test="memberId != null">
                member_id,
            </if>
            <if test="memberPhone != null and memberPhone != ''">
                member_phone,
            </if>
            <if test="subscribeTime != null">
                subscribe_time,
            </if>
            <if test="sendTime != null">
                send_time,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
        </trim>
        values
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="productId != null">
                #{productId,jdbcType=BIGINT},
            </if>
            <if test="productName != null and productName != ''">
                #{productName,jdbcType=VARCHAR},
            </if>
            <if test="memberId != null">
                #{memberId,jdbcType=INTEGER},
            </if>
            <if test="memberPhone != null and memberPhone != ''">
                #{memberPhone,jdbcType=VARCHAR},
            </if>
            <if test="subscribeTime != null">
                #{subscribeTime,jdbcType=TIMESTAMP},
            </if>
            <if test="sendTime != null">
                #{sendTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
        on duplicate key update
        <trim suffixOverrides=",">
            <if test="id != null">
                id = #{id,jdbcType=INTEGER},
            </if>
            <if test="productId != null">
                product_id = #{productId,jdbcType=BIGINT},
            </if>
            <if test="productName != null and productName != ''">
                product_name = #{productName,jdbcType=VARCHAR},
            </if>
            <if test="memberId != null">
                member_id = #{memberId,jdbcType=INTEGER},
            </if>
            <if test="memberPhone != null and memberPhone != ''">
                member_phone = #{memberPhone,jdbcType=VARCHAR},
            </if>
            <if test="subscribeTime != null">
                subscribe_time = #{subscribeTime,jdbcType=TIMESTAMP},
            </if>
            <if test="sendTime != null">
                send_time = #{sendTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
</mapper>