<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tsien.mall.mbg.dao.pms.PmsProductFullReductionMapper">
    <resultMap id="BaseResultMap" type="com.tsien.mall.mbg.domain.model.pms.PmsProductFullReduction">
        <!--@mbg.generated-->
        <!--@Table pms_product_full_reduction-->
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="product_id" jdbcType="BIGINT" property="productId"/>
        <result column="full_price" jdbcType="DECIMAL" property="fullPrice"/>
        <result column="reduce_price" jdbcType="DECIMAL" property="reducePrice"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id, product_id, full_price, reduce_price, create_time, update_time
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        <!--@mbg.generated-->
        select
        <include refid="Base_Column_List"/>
        from pms_product_full_reduction
        where id = #{id,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        <!--@mbg.generated-->
        delete
        from pms_product_full_reduction
        where id = #{id,jdbcType=BIGINT}
    </delete>
    <insert id="insert" keyColumn="id" keyProperty="id"
            parameterType="com.tsien.mall.mbg.domain.model.pms.PmsProductFullReduction" useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into pms_product_full_reduction (product_id, full_price, reduce_price,
                                                create_time, update_time)
        values (#{productId,jdbcType=BIGINT}, #{fullPrice,jdbcType=DECIMAL}, #{reducePrice,jdbcType=DECIMAL},
                #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
    </insert>
    <insert id="insertSelective" keyColumn="id" keyProperty="id"
            parameterType="com.tsien.mall.mbg.domain.model.pms.PmsProductFullReduction" useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into pms_product_full_reduction
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="productId != null">
                product_id,
            </if>
            <if test="fullPrice != null">
                full_price,
            </if>
            <if test="reducePrice != null">
                reduce_price,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="productId != null">
                #{productId,jdbcType=BIGINT},
            </if>
            <if test="fullPrice != null">
                #{fullPrice,jdbcType=DECIMAL},
            </if>
            <if test="reducePrice != null">
                #{reducePrice,jdbcType=DECIMAL},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective"
            parameterType="com.tsien.mall.mbg.domain.model.pms.PmsProductFullReduction">
        <!--@mbg.generated-->
        update pms_product_full_reduction
        <set>
            <if test="productId != null">
                product_id = #{productId,jdbcType=BIGINT},
            </if>
            <if test="fullPrice != null">
                full_price = #{fullPrice,jdbcType=DECIMAL},
            </if>
            <if test="reducePrice != null">
                reduce_price = #{reducePrice,jdbcType=DECIMAL},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.tsien.mall.mbg.domain.model.pms.PmsProductFullReduction">
        <!--@mbg.generated-->
        update pms_product_full_reduction
        set product_id   = #{productId,jdbcType=BIGINT},
            full_price   = #{fullPrice,jdbcType=DECIMAL},
            reduce_price = #{reducePrice,jdbcType=DECIMAL},
            create_time  = #{createTime,jdbcType=TIMESTAMP},
            update_time  = #{updateTime,jdbcType=TIMESTAMP}
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateBatch" parameterType="java.util.List">
        <!--@mbg.generated-->
        update pms_product_full_reduction
        <trim prefix="set" suffixOverrides=",">
            <trim prefix="product_id = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when id = #{item.id,jdbcType=BIGINT} then #{item.productId,jdbcType=BIGINT}
                </foreach>
            </trim>
            <trim prefix="full_price = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when id = #{item.id,jdbcType=BIGINT} then #{item.fullPrice,jdbcType=DECIMAL}
                </foreach>
            </trim>
            <trim prefix="reduce_price = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when id = #{item.id,jdbcType=BIGINT} then #{item.reducePrice,jdbcType=DECIMAL}
                </foreach>
            </trim>
            <trim prefix="create_time = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when id = #{item.id,jdbcType=BIGINT} then #{item.createTime,jdbcType=TIMESTAMP}
                </foreach>
            </trim>
            <trim prefix="update_time = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when id = #{item.id,jdbcType=BIGINT} then #{item.updateTime,jdbcType=TIMESTAMP}
                </foreach>
            </trim>
        </trim>
        where id in
        <foreach close=")" collection="list" item="item" open="(" separator=", ">
            #{item.id,jdbcType=BIGINT}
        </foreach>
    </update>
    <update id="updateBatchSelective" parameterType="java.util.List">
        <!--@mbg.generated-->
        update pms_product_full_reduction
        <trim prefix="set" suffixOverrides=",">
            <trim prefix="product_id = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    <if test="item.productId != null">
                        when id = #{item.id,jdbcType=BIGINT} then #{item.productId,jdbcType=BIGINT}
                    </if>
                </foreach>
            </trim>
            <trim prefix="full_price = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    <if test="item.fullPrice != null">
                        when id = #{item.id,jdbcType=BIGINT} then #{item.fullPrice,jdbcType=DECIMAL}
                    </if>
                </foreach>
            </trim>
            <trim prefix="reduce_price = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    <if test="item.reducePrice != null">
                        when id = #{item.id,jdbcType=BIGINT} then #{item.reducePrice,jdbcType=DECIMAL}
                    </if>
                </foreach>
            </trim>
            <trim prefix="create_time = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    <if test="item.createTime != null">
                        when id = #{item.id,jdbcType=BIGINT} then #{item.createTime,jdbcType=TIMESTAMP}
                    </if>
                </foreach>
            </trim>
            <trim prefix="update_time = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    <if test="item.updateTime != null">
                        when id = #{item.id,jdbcType=BIGINT} then #{item.updateTime,jdbcType=TIMESTAMP}
                    </if>
                </foreach>
            </trim>
        </trim>
        where id in
        <foreach close=")" collection="list" item="item" open="(" separator=", ">
            #{item.id,jdbcType=BIGINT}
        </foreach>
    </update>
    <insert id="batchInsert" keyColumn="id" keyProperty="id" parameterType="map" useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into pms_product_full_reduction
                (product_id, full_price, reduce_price, create_time, update_time)
                values
        <foreach collection="list" item="item" separator=",">
            (#{item.productId,jdbcType=BIGINT}, #{item.fullPrice,jdbcType=DECIMAL},
             #{item.reducePrice,jdbcType=DECIMAL},
             #{item.createTime,jdbcType=TIMESTAMP}, #{item.updateTime,jdbcType=TIMESTAMP})
        </foreach>
    </insert>
    <insert id="insertOrUpdate" keyColumn="id" keyProperty="id"
            parameterType="com.tsien.mall.mbg.domain.model.pms.PmsProductFullReduction" useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into pms_product_full_reduction
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            product_id,
            full_price,
            reduce_price,
            create_time,
            update_time,
        </trim>
        values
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            #{productId,jdbcType=BIGINT},
            #{fullPrice,jdbcType=DECIMAL},
            #{reducePrice,jdbcType=DECIMAL},
            #{createTime,jdbcType=TIMESTAMP},
            #{updateTime,jdbcType=TIMESTAMP},
        </trim>
        on duplicate key update
        <trim suffixOverrides=",">
            <if test="id != null">
                id = #{id,jdbcType=BIGINT},
            </if>
            product_id   = #{productId,jdbcType=BIGINT},
            full_price   = #{fullPrice,jdbcType=DECIMAL},
            reduce_price = #{reducePrice,jdbcType=DECIMAL},
            create_time  = #{createTime,jdbcType=TIMESTAMP},
            update_time  = #{updateTime,jdbcType=TIMESTAMP},
        </trim>
    </insert>
    <insert id="insertOrUpdateSelective" keyColumn="id" keyProperty="id"
            parameterType="com.tsien.mall.mbg.domain.model.pms.PmsProductFullReduction" useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into pms_product_full_reduction
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="productId != null">
                product_id,
            </if>
            <if test="fullPrice != null">
                full_price,
            </if>
            <if test="reducePrice != null">
                reduce_price,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
        </trim>
        values
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="productId != null">
                #{productId,jdbcType=BIGINT},
            </if>
            <if test="fullPrice != null">
                #{fullPrice,jdbcType=DECIMAL},
            </if>
            <if test="reducePrice != null">
                #{reducePrice,jdbcType=DECIMAL},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
        on duplicate key update
        <trim suffixOverrides=",">
            <if test="id != null">
                id = #{id,jdbcType=BIGINT},
            </if>
            <if test="productId != null">
                product_id = #{productId,jdbcType=BIGINT},
            </if>
            <if test="fullPrice != null">
                full_price = #{fullPrice,jdbcType=DECIMAL},
            </if>
            <if test="reducePrice != null">
                reduce_price = #{reducePrice,jdbcType=DECIMAL},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
</mapper>